@model nl.boxplosive.BackOffice.Mvc.Models.Shared.Promotion.SegmentationStepModel

<section class="datapanel">
    @Html.AntiForgeryToken()
    <div class="datapanel-heading">
        <h2>2. Segmentation</h2>
    </div>
    <div class="datapanel-body">
        <div class="form-horizontal">
            @Html.HiddenFor(m => m.DistributionId)
            <div class="form-group">
                @Html.LabelFor(m => m.SegmentId, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.SegmentId, true, Model.SegmentNames, "Select segment", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SegmentId, "", new { @class = "text-danger" })
                </div>
            </div>
            <button type="submit" class="btn btn-primary" data-action="save">Save</button>
            <button type="submit" class="btn btn-primary" data-action="saveandeditnext">Save and next</button>
        </div>
    </div>
</section>