@model nl.boxplosive.BackOffice.Mvc.Models.LoyaltyEventDefinition.LoyaltyEventDefinitionModel

@{
    bool loyaltyProgramIdHasError = !ViewData.ModelState.IsValidField(Model.Field_LoyaltyProgramId);
    bool numberOfPointsHasError = !ViewData.ModelState.IsValidField(Model.Field_NumberOfPoints);
}

<div class="form-group">
    @Html.LabelFor(m => m.LoyaltyProgramId, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-5 @Html.Raw(loyaltyProgramIdHasError ? "has-error" : "")">
        @Html.DropDownListFor(m => m.LoyaltyProgramId, true, Model.LoyaltyPrograms, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LoyaltyProgramId, "", new { @class = "text-danger" })
    </div>
</div>

@Html.EditorFor(m => m.NumberOfPoints, "Numeric", new { labelClass = "col-sm-3", textboxClass = "col-sm-5", hasError = numberOfPointsHasError, noSpinner = true, noInputGroup = true })