@model nl.boxplosive.BackOffice.Mvc.Models.Shared.Promotion.BasicStepModel

<section class="datapanel">
    <div class="datapanel-heading">
        <h2>1. Basics</h2>
    </div>
    <div class="datapanel-body">
        <h3>@Html.DisplayFor(m => m.Title)</h3>
        <p>@Html.DisplayFor(m => m.CampaignExternalId)</p>
        @if (Model.AppCardStackDefinitionsEnabled)
        {
            <p>@Html.Raw(Model.AppCardStackDefinitionDisplayName)</p>
        }
        <p>@Html.DisplayFor(m => m.AppCardOrder)</p>
        @if (Model.AppCardTemplateIdIsDisplayed)
        {
            <p>@Html.DisplayFor(m => m.AppCardTemplateId_Name)</p>
            @Html.DisplayFor(m => m.Placeholders)
        }
        <p>@Html.Raw(Model.Description.Html)</p>
        @if (Model.PromotionActivationRequired_IsEditable(User))
        {
            <p>@Html.DisplayFor(m => m.PromotionActivationRequired, "CustomBoolean")</p>
        }
    </div>
</section>