@using nl.boxplosive.BackOffice.Mvc.Helpers
@model nl.boxplosive.BackOffice.Mvc.Models.Shared.TimeframeStepModel

<section class="datapanel">
    <div class="datapanel-heading">
        <h2>2. Timeframe</h2>
    </div>
    <div class="datapanel-body">
        @{
            var startDateTime = Model.StartDate.ToShortDateString() + " " + Model.StartTime.ToString(@"hh\:mm");
            var endDateTime = Model.EndDate.ToShortDateString() + " " + @Model.EndTime.ToString(@"hh\:mm");

            <p class="row">
                @Html.LabelFor(m => m.StartDate, new { @class = "col-sm-3" })
                @Html.DisplayFor(m => startDateTime, "span", new { @class = "col-sm-6" })
            </p>
            <p class="row">
                @Html.LabelFor(m => m.EndDate, new { @class = "col-sm-3" })
                @Html.DisplayFor(m => endDateTime, "span", new { @class = "col-sm-6" })
            </p>
        }
    </div>
</section>