@using System.Web.Mvc.Html
@using nl.boxplosive.BackOffice.Mvc.Areas.Admin.Models
@using nl.boxplosive.BackOffice.Mvc.Helpers
@using PagedList.Mvc

@model TemplateIndexModel
@{
    ViewBag.Title = @Model.PageTitle;
}

@using (Html.BeginForm(Model.GetSearchRouteValues()))
{
    @Html.AntiForgeryToken()

    <div class="well form-horizontal">
        <div class="form-group">
            <div class="col-sm-3">
                @Html.DropDownListFor(m => m.SearchColumn, true, Model.SearchColumns, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.SearchValue, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="pull-right">
                <input type="submit" value="Filter" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>@Html.ActionLink(Model.Column_Title, MVC.AdminArea.Template.ActionNames.Index, Model.GetSortRouteValues(Model.Column_Title))</th>
            <th>@Html.ActionLink(Model.Column_Type, MVC.AdminArea.Template.ActionNames.Index, Model.GetSortRouteValues(Model.Column_Type))</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PagedList)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Type)</td>
                <td class="actions">@Html.ActionLinkIcon(MVC.AdminArea.Template.ActionNames.Edit, MVC.AdminArea.Template.Edit(item.Id), new { @class = "icon-btn icon-edit", title = "Edit" }, new { @class = "sr-only" })</td>
            </tr>
        }
    </tbody>
    <tfoot class="well">
        <tr>
            <td colspan="2">@Html.PagedListPager(Model.PagedList, page => Url.Action(MVC.AdminArea.Template.ActionNames.Index, Model.GetPagerRouteValues(page)), PagedListRenderOptions.ClassicPlusFirstAndLast)</td>
            <td class="actions">@Html.ActionLinkIcon(MVC.AdminArea.Template.ActionNames.Create, MVC.AdminArea.Template.Create(), new { @class = "icon-btn icon-plus" }, new { @class = "sr-only" })</td>
        </tr>
    </tfoot>
</table>