@using nl.boxplosive.BackOffice.Mvc.Enums
@using nl.boxplosive.BackOffice.Mvc.Helpers
@model nl.boxplosive.BackOffice.Mvc.Models.LanguageMessageTemplate.LanguageMessageTemplateModel
@{
    var labelNames = Model.GetPropertyLabelNamesByMessageTemplateName();
}

@for (int i = 0; i < Model.Properties.Count; i++)
{
    @Html.HiddenFor(m => m.Properties[i].Id);
    @Html.HiddenFor(m => m.Properties[i].Active);
    @Html.HiddenFor(m => m.Properties[i].LanguageId);
    @Html.HiddenFor(m => m.Properties[i].LanguageName);
    @Html.HiddenFor(m => m.Properties[i].Name);
    @Html.HiddenFor(m => m.Properties[i].HtmlElement);
    <div class="form-group">
        @Html.LabelForRequired(m => m.Properties[i].Name, new { @class = "col-sm-4 control-label" }, labelNames[Model.Properties[i].Name] + " [" + Model.Properties[i].LanguageName + "]")
        <div class="col-sm-5 @Html.Raw(Model.Properties_ValidationMessage.ContainsKey(Model.Properties[i].Name + "-" + Model.Properties[i].LanguageName) ? "has-error" : "")">
            @if (Model.Properties[i].HtmlElement == HtmlElementModel.TextareaAllowHtml)
            {
                @Html.TextAreaFor(m => m.Properties[i].HtmlValue, true, 2, 20, htmlAttributes: new { @class = "form-control" })
            }
            else if (Model.Properties[i].HtmlElement == HtmlElementModel.Textarea)
            {
                @Html.TextAreaFor(m => m.Properties[i].Value, true, 2, 20, htmlAttributes: new { @class = "form-control" })
            }
            else
            {
                @Html.TextBoxFor(m => m.Properties[i].Value, true, null, htmlAttributes: new { @class = "form-control", autocomplete = "nope" })
            }
            @if (Model.Properties_ValidationMessage.ContainsKey(Model.Properties[i].Name + "-" + Model.Properties[i].LanguageName))
            {
                @Html.ValidationMessageFor(m => m.Properties[i].Value, Model.Properties_ValidationMessage[Model.Properties[i].Name + "-" + Model.Properties[i].LanguageName], new { @class = "text-danger" })
            }
        </div>
    </div>
}
